*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

html{
	scroll-behavior: smooth;
}
/*navbar*/

.navbar-brand span{
	font-size: 25px;
    line-height: 20px;
    font-family: 'Satisfy', cursive;
    font-weight: bold;
    color: rgba(208,145,156,0.7);

}

.nav-icon{
	font-size: 25px;
	color: #ef7998;
    transition: background 0.3 ease;
}

.nav-icon:hover{
	color:black;
    -webkit-transform: scale(1.3);
	transform: scale(1.3);
}

.nav-item{
	  font-family: 'Merienda One', cursive;
	  color: rgba(208,145,156,0.9);
	  font-weight: bold;
	  font-size: 16px;
	  color: #ef7998;
}

.nav-item:hover{
border-bottom: 2px solid black;
}

.nav-btn{
	font-size: 25px;
	color: #ef7998;
	background-color:black;
	border-radius: 6px;
}	

.nav-btn span {
	text-decoration: none;
}

.nav-btn:hover{
	color: white;
}

.nav-link:hover{
        color: black;
       }


@media(max-width: 1342px){
	.nav-icon{
		display: none;
	}
	.nav-btn{
		display: none;
	}
}



/*home section*/

.change1{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	text-align: center;
	background-image: url('https://cdn.shopify.com/s/files/1/0426/3585/3976/files/slideshow-v1.jpg?v=1594180528');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	
}

#Home .content h3{
	font-size: 40px;
	margin-top: 10px;
	color:white;
	 font-family: 'Merienda One', cursive;
}


#Home .content h3 span{
	color: #ab5c5c;
	font-size: 60px;
	margin-top: 10px;
	color:#fff;
	 font-family: 'Merienda One', cursive;
}

.btn1{
	margin-top: 10px;
	border: 2px solid white;
	padding: 6px;
	border-radius: 5px;
	font-weight: bold;
	font-family: 'Merienda One', cursive;
	background: transparent;
	color: white;
}

.btn1:hover{
	background: #c19595;
	color: black;
	border: 2px solid #c19595;
}

/* about section*/


.container .row .heading{
	color: black;
	font-family: 'Merienda One', cursive;
	font-size: 35px;
}

.container .row .heading span{
	color: pink;
	font-family: 'Merienda One', cursive;
	font-size: 50px;

}

 .container .btn2{
	margin-top: 10px;
	border: 2px solid black;
	padding: 6px;
	border-radius: 5px;
	font-weight: bold;
	font-family: 'Merienda One', cursive;
	background: transparent;
	color: black;
}

.btn2:hover{
	background: black;
	color: white;
	border: 2px solid black;
}

.sub-about{
    text-align: center;
}
.qualities {
	text-align: center;
}


