
/*navbar*/

.navbar-brand span{
	font-size: 25px;
    line-height: 20px;
    font-family: 'Satisfy', cursive;
    font-weight: bold;
    color: rgba(208,145,156,0.7);

}

.nav-item{
	  font-family: 'Merienda One', cursive;
	  color: rgba(208,145,156,0.7);
	  font-weight: bold;
	  font-size: 16px;
	}


.nav-link:hover{
        
         color: black;
}


/*home section*/

.change1{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	text-align: center;
	background-image: url('https://images.unsplash.com/photo-1565498253128-c06e0488ddee?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60');
	background-repeat: no-repeat;
	background-size: cover;
	
}

#Home .content h1{
	font-size: 60px;
	margin-top: 10px;
	color: #503e3e;
	 font-family: 'Merienda One', cursive;
}


#Home .content h1 span{
	color: #ab5c5c;
}

.btn1{
	margin-top: 10px;
	border: 2px solid black;
	padding: 6px;
	border-radius: 5px;
	font-weight: bold;
	font-family: 'Merienda One', cursive;
	background: transparent;
}

.btn1:hover{
	background: rgba(0,0,0,1);
	color: #fff;
	border: 2px solid white;
}